{% extends 'base.html.twig' %}

{% block title %}Connexion du patient!{% endblock %}

{% block body %}
<div class="container">
    <h1> Connexion du patient</h1>
    <div class="row">
        <div class="col-md-6">
      {{ form_start(form) }}
            {{ form_row(form.pseudo, {'label': 'Pseudo','attr': {'placeholder': "Votre pseudo ..."}}) }}
            <p style="color: red;">{{error}}</p>
            <button type="submit" class="btn btn-success">Connexion patient!</button>
      {{ form_end(form) }}
      <p>Pas encore inscris?<a href="{{path('inscription_patient')}}"> Inscrivez-vous!</a></p>
      </div>
    </div>

</div>
{% endblock %}