{% extends 'base.html.twig' %}

{% block title %}Inscription patient!{% endblock %}

{% block body %}
<div class="container">
    <h1>Inscription</h1>
    <div class="row">
        <div class="col-md-6">

            {{ form_start(form) }}
            {{ form_row(form.pseudo, {'label': 'Pseudo','attr': {'placeholder': "Votre pseudo ..."}}) }}
            {{ form_row(form.dateDeNaissance,{'label': 'Date de naissance','attr': {'placeholder': "AAAA/MM/JJ"}}) }}
            {{ form_row(form.sexe,{'label': 'Sexe','attr': {'placeholder': "Votre sexe ..."}}) }}
            {{ form_row(form.lateralite,{'label': 'Lateralite','attr': {'placeholder': "Votre lateralité ..."}}) }}
            {{ form_row(form.groupe,{'label': 'Groupe','attr': {'placeholder': "Votre groupe"}}) }}
            {{ form_row(form.nom,{'label': 'Nom','attr': {'placeholder': "Votre nom"}}) }}
            {{ form_row(form.prenom,{'label': 'Prenom','attr': {'placeholder': "Votre prenom ..."}}) }}
            {{ form_row(form.email,{'label': 'Mail','attr': {'placeholder': "Votre mail ..."}}) }}
            {{ form_row(form.profession,{'label': 'Profession','attr': {'placeholder': "Votre profession ..."}}) }}
            {{ form_row(form.etatCivil,{'label': 'Etat Civil','attr': {'placeholder': "Votre état civil"}}) }}
            {{ form_row(form.nbrEnfants,{'label': 'Nombre d\'enfant','attr': {'placeholder': "Votre nombre d'\'enfant"}}) }}
            {{ form_row(form.psychologue, {'label': 'Psychologue','attr': {'placeholder': "Votre psychologue ..."}}) }}
            <button type="submit" class="btn btn-success">Inscription!</button>
            {{ form_end(form) }}
            <br>
            <p>Déja inscris?<a href="{{path('connexion_patient')}}"> Connectez-vous!</a></p>
        </div>
    </div>
</div>
{% endblock %}