{% extends "base.html.twig" %}

{% block title %}
    Modification de mot de passe
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>
        {{ form_start(form) }}
         {{ form_row(form.oldPassword,{'label': 'Ancien mot de passe','attr': {'placeholder': "Votre mot de passe actuelle..."}}) }}
         {{ form_row(form.newPassword,{'label': 'Nouveau mot de passe','attr': {'placeholder': "Votre nouveau mot de passe"}})}}
         {{ form_row(form.confirmPassword,{'label': 'Confirmation du mot de passe','attr': {'placeholder': "Retapez votre nouveau mot de passe"}})}}

        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>

        {{form_end(form)}}

    </div>
{% endblock %}