<h2>Hello {{ user.email }} !</h2>

<p>Merci d'avoir créer votre compte chez CognitiveDrive!!</p>
<p>Voici une copie de vos informations ci-dessous</p>
<ul>
    <li>Nom : {{ user.nom }}</li>
    <li>Prenom : {{ user.prenom }}</li>
    <li>Email : {{ user.email }}</li>
</ul>

<a href="{{ url('account_confirm', { 'token': user.token }) }}">Veuillez cliquez sur ce lien afin de confirmer votre compte!</a>