<h2>Hello {{ user.email }} !</h2>

<p>Thanks for creating a pixel souls account in order to access our game.</p>
<p>You will find a copy of your informations below.</p>
<ul>
    <li>First name : {{ user.nom }}</li>
    <li>Last name : {{ user.prenom }}</li>
    <li>Email : {{ user.email }}</li>
</ul>

<a href="{{ url('account_confirm', { 'token': user.token }) }}">Please verifiy your account by clicking this link !</a>